.chat {
  width: 100%;
  gap: 60px;
  display: grid;
  grid-template-columns: auto 1fr;

  &__users {
    gap: 1rem;
    &--logged {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin-bottom: 1rem;
    }
  }

  &__messages {
    gap: 1rem;
  }
}

#messages {
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.user {
  font-weight: 500;
}

.joined {
  color: darkgrey;
}

.send input {
  width: 60%;
}