<h1 style="padding: 50px 0">Add one product</h1>
<span style="display:none" aria-hidden="true"></span>
<div class="container flex__col flex--center">
  <form class="add" data-email="{{email}}" data-role="{{role}}">
    <fieldset class="form-item">
      <label>Title</label>
      <input id="title" type="text" name="title" required="true">
    </fieldset>
    <fieldset class="form-item">
      <label>Code</label>
      <input id="code" type="text" name="code" required="true">
    </fieldset>
    <fieldset class="form-item">
      <label>Description</label>
      <input id="description" name="description" required="true">
    </fieldset>
    <fieldset class="form-item">
      <label>Price (€)</label>
      <input id="price" type="number" name="title" required="true">
    </fieldset>
    <fieldset>
      <label>Status:</label>
      <select id="status" name="status">
        <option value="true" >Active</option>
        <option value="false">Not Active</option>
      </select>
    </fieldset>
    <fieldset class="form-item">
      <label>Stock</label>
      <input id="stock" type="number" name="title" required="true">
    </fieldset>
    <fieldset id="thumbnails" class="form-item">
      <label>Thumbnails</label>
      <input type="text" name="title">
    </fieldset>
    <input type="Submit" value="Send" class="button">
  </form>
</div>
<script src="/static/js/manageOneProduct.js"></script>