<h1 class="chat-title">Chat de la tienda</h1>
<div class="chat">
  <aside>
    <h2>Logged Users</h2>
    <ul class="logged-users">
    </ul>
  </aside>
  <main class="chat-messages">
    <h2>Messages</h2>
    <div id="messages"></div>
    <div class="send">
      <input type="text" placeholder="" aria-label="Input">
    </div>
  </main>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/chat.js"></script>