<div class="flex__col password-reset" data-token="{{token}}" data-id="{{id}}">
  <h3 class="center-text">Enter the new password</h3>
  <form action="" method="post" class="flex__col">
    <input id="password" name="password" placeholder="Password" class="" type="password" aria-label="Not clickable icon">
    <input id="passwordRepeat" name="passwordRepeat" placeholder="Repeat your password" class="" type="password" aria-label="Not clickable icon">

    <span><a class="login__signup" href="/login">Go back to login</a></span>

    {{#if error}}
      <span class="login__error">{{error}}</span>
    {{/if}}
    
    <button>Enter</button>
  </form>
</div>
<script src="/static/js/passwordReset.js"></script>