<div class="flex__col login">
  <h3 class="center-text">Recover your password</h3>
  <form action="" method="post" class="flex__col">
    <input name="email" placeholder="Email" class="" type="text" aria-label="Not clickable icon">

    <span><a class="login__signup" href="/login">Go back to login</a></span>

    {{#if error}}
      <span class="login__error">{{error}}</span>
    {{/if}}
    
    <button>Enter</button>
  </form>
</div>