*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  padding-left: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #323232;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

header {
  width: 100%;
}

.flex, .flex--center, .flex__col, .header {
  display: flex;
}
.flex__col, .header {
  flex-direction: column;
}
.flex--center {
  align-items: center;
  justify-content: center;
}

a, a:visited {
  text-decoration: none;
  color: #323232;
  cursor: pointer;
}

.center-text, .swal2-footer a {
  text-align: center;
}

.font-base, .important-text, p, .h_base, h3, h1, h2 {
  font-style: normal;
  font-family: "Poppins", sans-serif;
}

.h_base, h3, h1, h2 {
  font-family: orpheus, serif;
  font-weight: 400;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2 {
  font-size: 42px;
  line-height: 110%;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.circle-image {
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center center;
}

.container {
  max-width: 1420px;
  padding: 0 30px;
}

.header {
  gap: 35px;
  padding: 150px 30px 90px 30px;
  margin-top: -138px;
  background-position: center center;
  background-size: cover;
  justify-content: center;
  min-height: 75vh;
}
.header p {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.important-text {
  font-weight: 700;
  font-size: 18px;
}

input[type=number] {
  font-family: "Poppins", sans-serif;
  color: #323232;
  width: 50px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}

img {
  object-fit: cover;
  object-position: center;
}

button, .button {
  width: 100%;
  background-color: #FFC34E;
  padding: 10px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
button:hover, .button:hover {
  background-color: #D2BEDD;
  transform: scale(1.1);
  font-weight: 500;
  transition: all 0.3s;
}

.swal2-footer a {
  width: 100%;
  background-color: #FFC34E;
  padding: 10px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.swal2-footer a:hover {
  background-color: #D2BEDD;
  transform: scale(1.1);
  font-weight: 500;
  transition: all 0.3s;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  padding: 2rem;
  gap: 2rem;
}

.product {
  gap: 0.75rem;
  border-radius: 2rem;
  border: 1px solid black;
  padding: 1.5rem;
}
.product__info {
  gap: 0.75rem;
}
.product__info--img {
  width: 100%;
  border-radius: 2rem;
  aspect-ratio: 1;
}
.product__info--title {
  font-size: 24px;
}
.product__info--price {
  font-weight: 600;
  font-size: 20px;
}

.itemCount {
  gap: 0.75rem;
  border-radius: 10px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}
.itemCount__quantity {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #FEF5E9;
  padding: 5px 15px;
  border: 1px solid #323232;
  border-radius: 5px;
}
.itemCount__quantity--button {
  background: none;
  border: none;
  font-size: 28px;
  padding: 0;
  cursor: pointer;
  width: 28px;
}
.itemCount__quantity--amount {
  font-size: 20px;
  font-weight: 600;
}

.pagination {
  position: relative;
}
.pagination a {
  position: absolute;
  bottom: 0;
  width: auto;
  padding: 1rem 2rem;
}
.pagination a.pagination-next {
  right: 2rem;
}
.pagination a.pagination-prev {
  left: 2rem;
}

.chat {
  width: 100%;
  gap: 60px;
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 3rem;
}
.chat__users {
  gap: 1rem;
}
.chat__users--logged {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}
.chat__messages {
  gap: 1rem;
}

#messages {
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.user {
  font-weight: 500;
}

.joined {
  color: darkgrey;
}

.send input {
  width: 60%;
}

.cart {
  margin: 0 3rem;
  align-items: center;
}
.cart__items {
  list-style: none;
  gap: 2rem;
  padding-left: 0;
  border-radius: 1rem;
  padding: 2rem;
  border: 1px solid darkgrey;
}
.cart__items li {
  align-items: center;
  gap: 0.5rem;
}
.cart__total {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.cart-item {
  gap: 2rem;
}
.cart-item__img {
  max-width: 200px;
  aspect-ratio: 1;
  border-radius: 2rem;
}
.cart-item__info {
  justify-content: center;
  gap: 0.75rem;
}
.cart-item__info--title, .cart-item__info--quantity {
  font-size: 24px;
}
.cart-item__info--price {
  font-weight: 600;
  font-size: 20px;
}
.cart-item svg {
  align-self: center;
  cursor: pointer;
}

.trash {
  cursor: pointer;
}

.single-product {
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  justify-items: center;
}
.single-product__thumbnails {
  gap: 2rem;
}
.single-product__thumbnails--main {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 2rem;
  cursor: pointer;
}
.single-product__thumbnails .thumbnails {
  width: 100%;
  gap: 2rem;
}
.single-product__thumbnails .thumbnails__img {
  width: 100%;
  max-width: 150px;
}
.single-product__thumbnails .thumbnails__img img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 2rem;
  cursor: pointer;
}
.single-product__info {
  padding: 2rem 0;
  gap: 1rem;
  width: 100%;
}
.single-product__info > *:not(h1) {
  font-size: 20px;
}
.single-product__info--code {
  font-size: 20px;
}
.single-product .itemCount {
  max-width: 300px;
}

.lightbox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  place-items: center;
  display: none;
  overflow: hidden;
}
.lightbox__close, .lightbox__prev, .lightbox__next {
  cursor: pointer;
  position: absolute;
  fill: white;
  width: 50px;
}
.lightbox__close {
  top: 20px;
}
.lightbox__next, .lightbox__prev {
  top: 50%;
  transform: translateY(-50%);
}
.lightbox__next, .lightbox__close {
  right: 20px;
}
.lightbox__prev {
  left: 20px;
}
.lightbox__image {
  width: 60%;
  max-height: 90%;
}

.login, .signup {
  gap: 30px;
  margin-top: 50px;
}
.login h3, .signup h3 {
  font-size: 36px;
  font-weight: 600;
}
.login form, .signup form {
  gap: 14px;
  align-items: center;
}
.login form input, .signup form input {
  border: none;
  background: lightgray;
  border-radius: 20px;
  padding: 12px 15px 12px 15px;
  width: 100%;
}
.login__signup, .login__login, .signup__signup, .signup__login {
  font-weight: 600;
}
.login__error, .signup__error {
  color: red;
  font-weight: 600;
  font-size: 20px;
}

.navBar {
  width: 100%;
  margin-top: 30px;
}
.navBar ul {
  justify-content: space-evenly;
}
.navBar ul li {
  transition: all 0.1s ease-in;
  font-weight: 600;
}
.navBar ul li:not(:last-child):hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
